<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.kbarrios.btprinter"
    version="1.0.9">

    <name>BluetoothPrinter</name>
    <description>A Cordova/Phonegap driver for bluetooth printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/btprinter.js" name="BluetoothPrinter">
        <clobbers target="cordova.plugins.btprinter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- BLUETOOTH/BLUETOOTH_ADMIN nao sao declarados aqui de proposito: tentar harmonizar
             o texto entre este plugin, cordova-plugin-bluetoothle e cordova-plugin-ble-central
             se mostrou insuficiente - o merge de manifest (Cordova + Android Gradle Plugin) e
             nao-deterministico quando mais de um plugin declara a mesma uses-permission, mesmo
             com atributos identicos (confirmado: builds limpos consecutivos ora derrubavam
             BLUETOOTH, ora tambem BLUETOOTH_ADMIN, do APK final). A declaracao unica e
             autoritativa fica em cordova-plugin-bluetoothle - nao duplicar aqui. -->
        <source-file src="src/android/com/kbarrios/btprinter/BluetoothPrinter.java" target-dir="src/android/com/kbarrios/btprinter" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BluetoothPrinter">
                <param name="android-package" value="com.kbarrios.btprinter.BluetoothPrinter" />
            </feature>
        </config-file>
        <source-file src="src/android/ZSDK_ANDROID_API.jar" target-dir="libs"/>
    </platform>
</plugin>
