<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.kbarrios.btprinter"
    version="1.0.9">

    <name>BluetoothPrinter</name>
    <description>A Cordova/Phonegap driver for bluetooth printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/btprinter.js" name="BluetoothPrinter">
        <clobbers target="cordova.plugins.btprinter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- android:maxSdkVersion precisa ficar identico ao que cordova-plugin-bluetoothle
                 e cordova-plugin-ble-central declaram para os mesmos nomes de permissao: o
                 Cordova so deduplica uses-permission entre plugins quando o XML injetado e
                 textualmente igual, senao o conflito nunca se resolve e a permissao some do
                 manifest final. -->
            <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
        </config-file>
        <source-file src="src/android/com/kbarrios/btprinter/BluetoothPrinter.java" target-dir="src/android/com/kbarrios/btprinter" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BluetoothPrinter">
                <param name="android-package" value="com.kbarrios.btprinter.BluetoothPrinter" />
            </feature>
        </config-file>
        <source-file src="src/android/ZSDK_ANDROID_API.jar" target-dir="libs"/>
    </platform>
</plugin>
